body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    min-height: 100vh;
    font-family: "Nunito Sans", sans-serif;
    font-family: "Questrial", sans-serif;
    font-family: "Roboto", sans-serif;
  }
  .sidebar {
    width: 0;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: 600ms;
    z-index: -1;
    /* box-shadow: 0px 0px 10px gray; */
    background-color: white;
  }
  .width-0 {
    width: 0;
  }
  .company__hamburger {
    display: flex;
    justify-content: space-between;
    width: 11rem;
  }
  .sidebar-active {
    width: 250px;
  }
  .Search-div {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.31);
    width: 40%;
  }
  .Search-div img {
    width: 1.2rem;
  }
  .Search-div input {
    border: none;
    margin-left: 0.4rem;
    font-size: 1.1rem;
  }
  .Search-div input:focus {
    outline: none;
  }
  .notification-profile {
    display: flex;
    justify-content: space-between;
    width: 13rem;
  }
  .profile {
    display: flex;
    justify-content: space-between;
    width: 10rem;
  }
  .navbar {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dashboard-options {
    margin-top: 8rem;
  }
  .dash-option {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    padding-left: 0.6rem;
    font-size: 1.1rem;
    border-radius: 5px;
  }
  .dash-option:hover
  {
      cursor: pointer;
      background-color: #c8242f3b;
    color: #c8242f;
  }
  .dash-option-active {
    background-color: #c8242f3b;
    color: #c8242f;
  }
  .dash-option img {
    width: 1.3rem;
    margin-right: 0.6rem;
  }