body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Roboto", sans-serif;
}
.sidebar {
  width: 0;
  min-height: 100vh;
  /* position: fixed; */
  /* left: 0;
    top: 0; */
  transition: 600ms;
  z-index: 10;
  /* box-shadow: 0px 0px 10px gray; */
  background-color: white;
  overflow-x: hidden;
}
/* .sidebar-main-dashboard {
  /* display: flex;
    flex-direction: row; */
/* } */ 
.width-0 {
  width: 0;
  overflow: hidden;
}
.company__hamburger {
  display: flex;
  justify-content: space-between;
  width: 11rem;
}
.sidebar-active {
  width: 250px;
}
.Search-div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.31);
  width: 40%;
}
.Search-div img {
  width: 1.2rem;
}
.Search-div input {
  border: none;
  margin-left: 0.4rem;
  font-size: 1.1rem;
}
.Search-div input:focus {
  outline: none;
}
.notification-profile {
  display: flex;
  justify-content: space-between;
  width: 13rem;
}
.profile {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}
.navbar {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}
.dashboard-options {
  margin-top: 8rem;
}
.dash-option {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  padding-left: 0.6rem;
  font-size: 1.1rem;
  border-radius: 5px;
}
.dash-option:hover {
  cursor: pointer;
  background-color: #c8242f3b;
  color: #c8242f;
}
.dash-option-active {
  background-color: #c8242f3b;
  color: #c8242f;
}
.dash-option img {
  width: 1.3rem;
  margin-right: 0.6rem;
}
.main-container {
  margin: 1rem 3rem;
  width: 90%;
}
.dashb {
  width: 146px;
  height: 39px;
  font-family: normal normal medium 30px/39px Roboto;
  font-size: 30px;
}
.options {
  display: flex;
  margin-top: 1rem;
  /* margin-left: 292px; */
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 95%; */
  justify-content: space-between;
}
.options p {
  color: #3e3e3e;
}
.box {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  /* position: relative; */
  top: 0.5rem;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  width: 15%;
}
.box p {
  margin: 0;
}

.box img {
  width: 3rem;
}

.sale-header {
  color: #3e3e3e;
  font: normal normal medium 22px/29px Roboto;
  font-size: 22px;
}
.graph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.monthly-sales {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  color: #adadad;
  font: normal normal normal 12px/16px Roboto;
  font-size: 12px;
}

#year {
  text-decoration: underline;
  color: #c8242f;
  margin-bottom: 1rem;
}

.monthly-sales p {
  margin-right: 20px;
}
.sale-graph {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 60%;
  margin-top: 2rem;
}
.sale-graph img {
  width: 100%;
}
.graph {
  display: flex;
  justify-content: space-between;
}
.pie-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pie-chart {
  margin: 2rem 0rem 0rem 2rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.pie-chart p {
  margin-left: 1rem;
}

.pie-chart img {
  width: 60%;
  margin-left: 20%;
}

.red-dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #c8242f;
  justify-content: space-between;
}
.row1 div {
  display: flex;
  align-items: center;
}

.green-dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #a2b86c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row2 div {
  display: flex;
  align-items: center;
}
.orange-dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #f16c20;
  justify-content: space-between;
}

.yellow-dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #ebc844;
  justify-content: space-between;
}
table {
  background-color: #ffffff;
  margin-top: 5rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  padding-top: 20px;
}
#invoice {
  color: #3e3e3e;
  font: normal normal medium 22px/29px Roboto;
  font-size: 22px;
  margin-left: 10px;
}
th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #e9e9e9;
}
th {
  color: #adadad;
  font-weight: 100;
}
td {
  color: #3e3e3e;
  padding: 15px;
}
.paid {
  color: #3cdd5f;
  background-color: #ebffef;
  text-align: center;
  margin: 0;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}
.failed {
  color: #ff4545;
  background-color: #fff5f5;
  text-align: center;
  margin: 0;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}
.pending {
  color: #bababa;
  background-color: #f8f8f8;
  text-align: center;
  margin: 0;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}
.profile-mobile {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.search {
  display: none;
}
.notification-mobile {
  display: none;
}
.sidebar-dashboard {
  display: flex;
}
@media screen and (max-width:1024px) 
{
  .sidebar
  {
    position: fixed;
  }
}
@media screen and (max-width: 800px) {
  .options {
    /* flex-direction: column ; */
    /* margin: 1rem; */
    width: 90% !important;
    flex-wrap: wrap;
    padding: 0;
  }

  .box {
    width: 40%;
    margin-top: 2rem;
  }
  .pie-chart {
    width: 50%;
  }
}
@media screen and (max-width: 470px) {
  .box {
    width: 90%;
  }
}

@media screen and (max-width: 680px) {
  .graph {
    flex-wrap: wrap;
  }
  .pie-chart {
    width: 100%;
    margin-left: 0;
  }
  .sale-graph {
    width: 100%;
  }
  table {
    margin: 0 1rem;
  }
  .search {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  .notification-mobile {
    display: block;
    margin-right: 2rem;
  }
  .search img {
    width: 1.5rem;
  }
  .search input {
    border: none;
    outline: none;
  }
  .Search-div {
    display: none;
  }
  .notification-profile {
    display: none;
  }
  .main-container {
    margin: 1rem 1.5rem;
  }
}
